<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logDirectory">./logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="logOutput" 
				fileName="${logDirectory}/logdemo.log" 
		     	filePattern="${logDirectory}/logdemo-%d{HH-mm-ss-SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="1 KB" />
		</RollingFile>
		
		<Console name="MyConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="DemoPaymentCode" level="info" additivity="false">
			<AppenderRef ref="MyConsole" />
			<AppenderRef ref="logOutput" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="MyConsole" />
			<AppenderRef ref="logOutput" />
		</Root>
	</Loggers>

</Configuration>